.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating {
    color: rgb(255, 208, 0)
}

.username-list {
    width: 130px;
}

.id-list {
    width: 90px;
}