.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pfp {
    height: 60px;
    width: 60px;
}

#categories {
    width: 320px;
}

.listing-image-box,
.listing-image {
    max-width: 181px;
    max-height: 181px;
}

.listing-card {
    padding: 15px;
    width: 442px;
}

.listing-content{
    min-height: 120px;
}

.form-card {
    width: fit-content;
}

#user-menu {
    position: fixed;
    right: 10;
    top: 100;
}