.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pfp {
    height: 60px;
    width: 60px;
}

#categories {
    width: 320px;
}

.listing-image {
    width: 181px;
    height: 181px;
}