<html>

<head>
    <script type="text/javascript" src="../../vendor/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <link rel="stylesheet" href="index.css">
</head>

<div id="header"></div>

<body>
    <div class="container">
        <div class="row">
            <div class="col bg-secondary">
                <div class="sticky-top">
                    fILTER.
                    <div class="card m-3 rounded-4 d-flex align-items-center">
                        <div class="list-group m-3" id="categories">
                            <h5 class="text-muted">categorie:</h5>
                            <div>
                                <a class="list-group-item list-group-item-action border-bottom-0" data-bs-toggle="list" href=""
                                    id="fucili-bolt-action" onclick="expandOrCollapseCategory(this)">
                                    <div class="d-flex align-items-center">
                                        <div class="circle me-3">
                                            <img src="../../resurces/vsr.svg" width="25px" height="25px">
                                        </div>
                                        <text>
                                            fucili bolt action
                                        </text>
                                    </div>
                                </a>
                                <div class="subcategory ms-4" name="fucili-bolt-action" hidden>
                                    <a class="list-group-item list-group-item-action border-bottom-0" data-bs-toggle="list" href="">
                                        <div class="d-flex align-items-center">
                                            <div class="circle me-3">
                                                <img src="../../resurces/vsr.svg" width="25px" height="25px">
                                            </div>
                                            <text>
                                                sottocategoria
                                            </text>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href=""
                                id="fucili-elettrici" onclick="expandOrCollapseCategory(this)">
                                <div class="d-flex align-items-center">
                                    <div class="circle me-3">
                                        <img src="../../resurces/ak47.svg" width="25px" height="25px">
                                    </div>
                                    <text>fucili elettrici</text>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="" id="fucili-gas-scarrellanti" onclick="expandOrCollapseCategory(this)">
                                <div class="d-flex align-items-center">
                                    <div class="circle me-3">
                                        <img src="../../resurces/aug.svg" width="25px" height="25px">
                                    </div>
                                    <text>
                                        fucili a gas scarrellanti
                                    </text>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="" id="fucili-pompa" onclick="expandOrCollapseCategory(this)">
                                <div class="d-flex align-items-center">
                                    <div class="circle me-3">
                                        <img src="../../resurces/model1897.svg" width="25px" height="25px">
                                    </div>
                                    <text>
                                        fucili a pompa
                                    </text>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="" id="fucili-radio" onclick="expandOrCollapseCategory(this)">
                                <div class="d-flex align-items-center">
                                    <div class="circle me-3">
                                        <img src="../../resurces/radio.svg" width="25px" height="25px">
                                    </div>
                                    <text>
                                        radio
                                    </text>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="" id="fucili-abbigliamento" onclick="expandOrCollapseCategory(this)">
                                <div class="d-flex align-items-center">
                                    <div class="circle me-3">
                                        <img src="../../resurces/soldier.svg" width="25px" height="25px">
                                    </div>
                                    <text>
                                        abbigliamento
                                    </text>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href=""  id="sistemi-puntamento" onclick="expandOrCollapseCategory(this)">
                                <div class="d-flex align-items-center">
                                    <div class="circle me-3">
                                        <img src="../../resurces/scope.svg" width="25px" height="25px">
                                    </div>
                                    <text>
                                        sistemi di puntamento
                                    </text>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card m-3 rounded-4" style="width: 441px; height: 221px;">
                    <div class="row g-0 m-auto">
                        <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="card rounded-3 p-1 listing-image">
                                <img src="https://mediacore.kyuubi.it/ilsemaforo/media/img/2020/7/17/159156-large-hk416-a5-v2-ral8000-cqb-full-metal-tan.jpg"
                                    class="img-fluid" alt="...">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">lorem ipsum lorem ipsum lorem ipsum.</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text text-muted">500$</p>
                                    </div>
                                    <div class="col">
                                        <a class="btn btn-warning" href="" role="button">contatta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col bg-secondary">
                <div class="sticky-top">
                    ADVERTISEMENT.
                </div>
            </div>
        </div>
    </div>
</body>
<div id="footer"></div>
<script src="..\..\templates\user_template.js"></script>

</html>