<html>
<div id="header"></div>

<body>
    <div class="container">
        <div class="row">
            <div class="col bg-secondary">
                FILTER.
            </div>
            <div class="col align-self-center">
                <div class="card m-3 rounded-4" style="width: 441px; height: 221px;">
                    <div class="row g-0 m-auto">
                        <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="card rounded-3 p-1" style="width: 181px; height: 181px;">
                                <img src="https://mediacore.kyuubi.it/ilsemaforo/media/img/2020/7/17/159156-large-hk416-a5-v2-ral8000-cqb-full-metal-tan.jpg" class="img-fluid" alt="...">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">lorem ipsum lorem ipsum lorem ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col bg-secondary">
                ADVERTISEMENT.
            </div>
        </div>
    </div>
</body>
<div id="footer"></div>
<script src="..\..\templates\user_template.js"></script>

</html>