<html>

<head>
    <script type="text/javascript" src="../../vendor/bootstrap/bootstrap.js"></script>
    <link rel="stylesheet" href="index.css">
</head>

<div id="header"></div>

<body>
    <div class="container">
        <div class="row">
            <div class="col bg-secondary">
                FILTER.
                <div class="sticky-top">
                    <div class="card m-3 rounded-4">
                        <div class="form p-2">
                            <div class="accordion accordion-flush" id="categories">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                            <div class="circle me-3">
                                                <img src="../../resurces/vsr.svg" width="25px" height="25px">
                                            </div>
                                            <text>
                                                Fucili sniper
                                            </text>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingOne" data-bs-parent="#categories">
                                        <div class="accordion-body">
                                            sottocategoria.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                            aria-expanded="false" aria-controls="flush-collapseTwo">
                                            <div class="circle me-3">
                                                <img src="../../resurces/ak47.svg" width="25px" height="25px">
                                            </div>
                                            <text>
                                                Fucili elettrici
                                            </text>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingTwo" data-bs-parent="#categories">
                                        <div class="accordion-body">
                                            sottocategoria.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                            aria-expanded="false" aria-controls="flush-collapseThree">
                                            <div class="circle me-3">
                                                <img src="../../resurces/aug.svg" width="25px" height="25px">
                                            </div>
                                            <text>
                                                Fucili a gas scarrellanti
                                            </text>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingThree" data-bs-parent="#categories">
                                        <div class="accordion-body">
                                            sottocategoria.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingFour">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
                                            aria-expanded="false" aria-controls="flush-collapseFour">
                                            <div class="circle me-3">
                                                <img src="../../resurces/model1897.svg" width="25px" height="25px">
                                            </div>
                                            <text>
                                                Fucili a pompa
                                            </text>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingFour" data-bs-parent="#categories">
                                        <div class="accordion-body">
                                            sottocategoria.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card m-3 rounded-4" style="width: 441px; height: 221px;">
                    <div class="row g-0 m-auto">
                        <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="card rounded-3 p-1" style="width: 181px; height: 181px;">
                                <img src="https://mediacore.kyuubi.it/ilsemaforo/media/img/2020/7/17/159156-large-hk416-a5-v2-ral8000-cqb-full-metal-tan.jpg"
                                    class="img-fluid" alt="...">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">lorem ipsum lorem ipsum lorem ipsum.</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text text-muted">500$</p>
                                    </div>
                                    <div class="col">
                                        <a class="btn btn-warning" href="" role="button">contatta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col bg-secondary">
                <div class="sticky-top">
                    ADVERTISEMENT.
                </div>
            </div>
        </div>
    </div>
</body>
<div id="footer"></div>
<script src="..\..\templates\user_template.js"></script>

</html>