<html>
<div id="header"></div>

<body>
    <div class="m-5">
        <form action="signup.php" method="POST" class="form-horizontal">
            <div class="form-group">
                <h3>Registrazione Account</h3>
                <div class="col-sm-6">
                    <input type="text" name="firstName" id="firstName" class="form-control my-2" placeholder="nome"
                        required>
                </div>
                <div class="col-sm-6">
                    <input type="text" name="lastName" id="lastName" class="form-control my-2" placeholder="cognome"
                        required>
                </div>
                <div class="col-sm-6">
                    <input type="text" name="email" id="email" class="form-control my-2" placeholder="email" required>
                </div>
                <div class="col-sm-6">
                    <input type="text" name="username" id="username" class="form-control my-2" placeholder="username"
                        required>
                </div>
                <div class="col-sm-6">
                    <input type="password" name="password" id="password" class="form-control my-2"
                        placeholder="password" required>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Conferma Registrazione
                </button>
            </div>
        </form>
    </div>
</body>
<div id="footer"></div>
<script src="..\..\templates\user_template.js"></script>

</html>