<html>
<div id="header"></div>

<body>
    <div class="m-5">
        <form action="index.html" method="POST" class="form-horizontal">
            <div class="form-group">
                <h3>Accedi</h3>
                <div class="col-sm-6">
                    <input type="text" name="username" id="user-username" class="form-control my-2"
                        placeholder="username" required>
                </div>
                <div class="col-sm-6">
                    <input type="password" name="password" id="user-password" class="form-control my-2"
                        placeholder="password" required>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-plus"></i> Accedi
                </button>
            </div>
        </form>
    </div>
</body>
<div id="footer"></div>
<script src="..\..\templates\user_template.js"></script>

</html>